body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    padding-top: 70px;
}

.container {
    display: flex;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 1px solid rgb(228, 228, 228);
    z-index: 1000;
    background-color: #f0f0f0;
    padding: 0 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
    width: 50px;
    height: 50px;
    background-color: #f0f0f0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.searching {
    position: sticky;
    top: 70px; /* Height of the header */
    background-color: white;
    width: 20%;
    z-index: 1;
    padding-top: 28px;
    display: flex;
    flex-direction: column;
    align-items: left;
}

.services {
    display: flex;
    flex-direction: column;
    padding-left: 0;
}

nav {
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}

form {
    font-size: 16px;
    cursor: pointer;
    width: 90%;
    text-align: left;
}

.category-buttons {
    display: flex;
    flex-direction: column;
}

.category-title,
.category-title-line {
    width: 100%;
    height: 100%;
    color: black;
    font-size: 20px;
    font-family: Avenir;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 3px; /* Added margin bottom to separate titles */
    margin-top: 18px;
    text-align: left;
    margin-left: 9%;
    margin-right: 9%;
    
}

.category-title-line{
    border-top: 1px solid #e1e1e1; /* Separating line for the section */
    width: 80%;
    padding-top: 2px;
}

.service-type {
    color: black;
    font-size: 14px;
    font-family: Avenir;
    font-weight: 400;
    width: 100%;
    text-transform: capitalize;
    line-height: 17px;
    padding: 3px;
    cursor: pointer;
    border: none;
    background-color: white;
    text-align: left;
    margin-left: 9%;
}

.patient-cards-container {
    width: 90%;
    margin-top: 0px; /* Adjust if needed to align with the header */
    display: flex;
    flex-wrap: wrap; /* Allows multiple cards to wrap in the container */
    justify-content: space-around; /* Distributes space around the items */
    align-items: flex-start; /* Aligns items to the start of the cross axis */
    margin-left: 4%;
}

.patient-card {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: calc(45% - 2%); /* Adjust width and account for margin */
    height: 315px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    margin-bottom: 20px; /* Add more space at the bottom */
    min-height: 100px; /* Set a minimum height */
}
.patient-card h2 {
    margin-bottom: 10px; /* Consistent margin for headings */
    color: #080808;
    text-transform: uppercase;

    font-size: 20px;
    font-family: Avenir; /* add another font for downgrade*/ 
}

.patient-card p {
    color: #080808; /* Lighter text for less emphasis */
    font-size: 14px; /* Standard font size */
    margin-bottom: 10px; /* Uniform space between paragraphs */
    line-height: 0.9; /* Adequate line height for readability */
    font-family: Avenir, sans-serif;
}


.patient-card p:last-of-type {
    margin-bottom: 25px; /* This should be at least the height of your saved-providers block */
}

/* Saved Providers List */
.saved-providers {
    padding-top: 5px; /* Provide enough space for the title */
    border-top: 1px solid #e1e1e1; /* Separating line for the section */
    height: 80px; /* Fixed height to fit the provider names */
    overflow: hidden;
}

.saved-providers strong {
    display: block; /* Ensures the title is on its own line */
    color: #333;
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.saved-providers ul {
    columns: 2; /* Creates two columns for names */
    -webkit-columns: 2;
    -moz-columns: 2;
    margin: 0; /* Removes default margin */
    padding: 0; /* Removes default padding */
    list-style: none;
}

.saved-providers li {
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 5px;
    list-style: none;
    break-inside: avoid-column; 
}

/* Responsive Design Adjustments */
/*
@media (max-width: 1200px) {
    .patient-card {
        width: calc(33.333% - 2%); /* 3 cards per row 
    }
}

@media (max-width: 992px) {
    .patient-card {
        width: calc(50% - 2%); /* 2 cards per row 
    }
}

@media (max-width: 768px) {
    .patient-card {
        width: 100%; /* Full width on small screens 
        margin-bottom: 20px; Less margin on small screens 
    }
}*/



.patient-cards-title {
    color: #ffffff; /* Match the heading color */
    font-size: 20px; /* Adjust the font size */
    margin-left: 7%; /* Remove default margin */ 
    align-items: left; /* Center vertically */
    font-family: Avenir;
    margin-top: 1%;
}

.main-content{
    width: 100%;
    height: 1000px;
    display: flex;
    flex-direction: column;
    background-color: #474735;
}
