/*------------------------------------------ Header ------------------------------------------ */
.big_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: #f0f0f0;
    padding: 0 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
    width: 50px;
    height: 50px;
    background-color: #f0f0f0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    font-family: Avenir, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    display: flex; /* Establishes a flex container */
    flex-direction: row; /* Align children in a row */
    align-items: flex-start; /* Align children to the start of the cross axis */
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    background-color: #474735;
}

.go-back-button {
    position: absolute;
    left: 20px;
    top: 20px;
    background-color: #C4BD91; /* Color that matches the theme */
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif; /* Using the same font family as the header */
    font-weight: 700; /* Same font weight as the logo */
    font-size: 0.9em; /* Slightly smaller text for the button */
    text-transform: uppercase;
    z-index: 101; /* Ensure it's above other elements */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    transition: background-color 0.3s ease;
}

.go-back-button:hover {
    background-color: #a69f7c; /* Slightly darker on hover for visual feedback */
}

/* Make sure to add the responsive design if needed */
@media (max-width: 768px) {
    #left-column,
    #center-column,
    #right-column {
        position: static; /* Make the column flow in the document */
        width: 100%;
        top: auto;
        right: auto;
        bottom: auto;
    }
}

/*------------------------------------------ Left Column ------------------------------------------ */

#left-column {
    flex: 0 0 20%; /* You can adjust the flex-basis as needed */
    width:20%; /* flex-grow: 0, flex-shrink: 0, flex-basis: 20% */
    background-color: #e0e0e0;
    padding: 20px;
    margin-top: 70px;
    height: calc(100vh - 70px); /* Full height minus header */
    overflow-y: auto;
    position: sticky; /* Stick to the top when scrolling */
    top: 70px; /* Offset from the top */
}

#left-column h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: bold;
}


.sort-section,
.filter-section {
    background-color: #ffffff;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.sort-section h3,
.filter-section h3 {
    color: #333;
    margin-bottom: 10px;
    font-weight: bold;
}

.sort-section input[type="text"],
.filter-section select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

button {
    background-color: #C4BD91; /* Use a color that matches your design */
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
    display: block; /* Make the button a block to fill the width */
    width: 100%;
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    margin-top: 10px;
}

button:hover {
    background-color: darken(#C4BD91, 10%); /* Slightly darken the button when hovered */
}


/* Add responsive breakpoint if needed */
@media (max-width: 768px) {
    #left-column {
        position: static; /* Make the filter column static on smaller screens */
        width: 100%;
        top: 0;
    }
}

/*------------------------------------------ Center Column ------------------------------------------ */

#center-column {
    flex: 1; /* Grow and shrink as needed */
    max-width: 26%; /* flex-grow: 0, flex-shrink: 0, flex-basis: 60% */
    margin-top: 70px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    background-color: #474735;
    height: calc(100vh - 70px); /* Full height minus header */
}



.result-block {
    /* Other existing styles... */
    border-left: 5px solid #C4BD91; /* Add a colored border on the left for visual interest */
    padding: 15px; 
    margin-bottom: 20px; /* Increase margin for more space between entries */
    background-color: #fff; /* Optional: change to a white background for better readability */
    margin-left: 4.5%;
}

/*
.name-and-pronoun {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}/* Increase padding to give content more room */

.result-block p {
    margin: 3px 0; /* Add some margin to the top and bottom */
    font-size: 14px; /* Adjust the font size as needed */
    color: black; /* Make sure the text is readable */
}


.result-block h3 {
    margin: 10px 0; /* Add more vertical space around the name */
    font-size: 20px; /* Increase font size for the name */
    color: #333; /* Keeping the text color dark for readability */
    /* Rest of your styles... */
    font-family: Avenir, sans-serif; /* Keep the font consistent with the rest of the design */
    text-transform: uppercase;
}

.result-block button {
    background: #C4BD91;  /* Match the label background color */
    color: white; /* White text for contrast */
    border: none; /* Remove the default border */
    padding: 5px 10px; /* Add padding to increase the size of the button */
    border-radius: 5px; /* Rounded corners for the button */
    font-weight: bold; /* Bold text on the button */
    margin-top: 10px; /* More space above the button */
    cursor: pointer; /* Change cursor to indicate it's clickable */
    font-size: 12px; /* Slightly larger font size for the button */
    width: auto;
    display: block;
}

.result-block .label {
    /*display: inline-block; /* Treat the label as an inline block element */
    color: #0057FF; /* White text color for contrast */
    font-family: 'Avenir', sans-serif; /* Stylish, bold font */
    font-size: 11px; /* Slightly larger font size for emphasis */
    font-weight: 300; /* Make the text bold */
    border-radius: 5px; /* Rounded corners for the label */
    margin-bottom: -6px; /* Space below the label */
    text-transform: uppercase; /* Uppercase text for emphasis */
}

.result-details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.results-container {
    overflow-y: auto; /* Allow scrolling within the results */
    padding: 10px; /* Add padding inside the container */
}

.center_footer {
    font-size: 18px;
    font-weight: bold;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    height: 40px;
    background-color: #959595;
    width: 100%;
    text-align: center;
}

/*------------------------------------------ Right column ------------------------------------------ */
#right-column {
    flex: 0 0 40%; /* Change the flex-basis to 40%, giving it more room */
    position: static;
    width: 50%; /* Adjust the width as necessary */
    background-color: #ffffff;
    /*padding-left: 2%;*/
    box-sizing: border-box;
    overflow-y: auto;
    position: fixed;
    top: 70px; /* Align with the top of your other columns */
    right: 0; /* Align with the right side of the viewport */
    bottom: 0; /* Stretch to the bottom of the viewport */
    display: none; /* Hide the column by default */
    flex-direction: column;
}

.close-button {
    cursor: pointer;
    position: absolute; /* Position it absolutely within its relative parent */
    top: 25px; /* Align to the top */
    right: 10px; /* Align to the right */
    z-index: 10; /* Make sure it's above other elements */
    font-size: 50px;
}

.name-and-pronoun {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.provider-name h2 {
    font-size: 1.5em;
    color: #333;
}

.provider-pronoun h2 {
    font-size: 1em;
    color: #666;
}

.contact-buttons, .subdivision {
    margin-bottom: 20px;
}


#details-provider-pronoun {
    color: black;
    font-size: 15px;
    font-family: Avenir;
    font-weight: 200;
    text-transform: capitalize;
    word-wrap: break-word;
}

.email_and_phone{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}


#details-provider-name {
    color: #666644;
    font-size: 35px;
    font-family: Avenir;
    font-weight: 800;
    text-transform: uppercase;
    word-wrap: break-word;
    margin-right: 10px;
}

#details-provider-cityandstate,
#details-provider-address,
#details-provider-zip_code,
#details-provider-email,
#details-provider-phone_number,
#details-provider-speciality,
#details-provider-gender,
#details-provider-hospital,
#details-provider-languages,
#details-provider-education,
#details-provider-finances,
#details-provider-insurance,
#details-provider-qualifications {
    color: black;
    font-size: 13px;
    font-family: Avenir;
    word-wrap: break-word;
    text-transform: capitalize;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: 3%;

}

.bio{
    margin: 5px 0;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    margin-left: 3%;
}

.title-location, .title-email, .title-phone_number, .about-title {
    font-weight: bold;
    margin-bottom: 0px;
}

.about-title {
    margin-left: 3%;
}   

.subdivision {
    margin-bottom: 20px;
}

.subdivision-insurance{
    margin-left: 3%;
}


.about-text {
    background-color:#D9D9D9 ;
    color: black;
    font-size: 14px;
    font-family: Avenir;
    font-weight: 400;
    word-wrap: break-word;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 15px;
    row-gap: 0;
    padding-left: 3%;
    padding-bottom: 2%;
}

.about-text p {
    margin: 0;
    padding: 0;
    text-transform: capitalize;
}

.about-text h3 {
    margin-bottom: 0;
}

.finances,
.insurance,
.qualifications {
    color: black;
    font-size: 20px;
    font-family: Avenir;
    font-weight: 800;
    text-transform: uppercase;
    word-wrap: break-word;
}

.profile-pic img {
    width: 220px; /* Adjust as needed */
    height: 220px; /* Adjust as needed */
    border-radius: 50%;
    margin-bottom: 3%;
    margin-left: 0;
}

/* Arrange the elements within the location and contact div */
.location-and-bookmark {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: flex-start;
    margin-right: 0;
}

.info{
    margin-left: 0;
    width: 60%;
    display: flex;
    flex-direction: column;
}

.location, .email, .phone {
    margin-right: 15%;
}

.bookmark-button {
    width: 100%;
    padding: 10px;
    border: none;
    height: 40px;
    border-radius: 50%;
    border-radius: 10px;
    background-color: #C4BD91;
    color: white;
    cursor: pointer;
    margin-top: 50%;
}

.bookmark_buttons {
    width: 20%;
    align-items: center;
    margin-top: 20%;
}

#bookmark_button:hover {
    background-color: #a69f7c; /* Darker shade for hover effect */
}

#bookmark-dropdown {
    display: none; /* Keeps the dropdown hidden until toggled */
    position: absolute; /* Positions the dropdown relative to its container */
    right: 10px; /* Adjusts the right position to align with the bookmark button */
    top: 50px; /* Positions the dropdown below the bookmark button */
    width: auto; /* Sets the width of the dropdown */
    background-color: #fff; /* Sets the background color */
    border: 1px solid #ccc; /* Sets the border around the dropdown */
    border-radius: 4px; /* Rounds the corners of the dropdown */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Adds a subtle shadow for depth */
    z-index: 1000; /* Ensures the dropdown is above other elements */
    padding: 10px; /* Adds space inside the dropdown */
    box-sizing: border-box; /* Ensures padding is included in the width */
}

.patient-bookmark-form {
    margin: 0; /* Removes default margin */
    padding: 0; /* Removes default padding */
}

.patient-bookmark-form label {
    display: block; /* Each label is on a new line */
    padding: 5px; /* Adds space around the label text */
    cursor: pointer; /* Indicates an interactive element */
}

.patient-bookmark-form input[type="checkbox"] {
    margin-right: 5px; /* Adds space between the checkbox and the label text */
}

.save-bookmark {
    background-color: #C4BD91; /* Matches the styling of other buttons */
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 10px; /* Adds space above the button */
    width: 100%; /* Full width of the dropdown */
}

.save-bookmark:hover {
    background-color: #a69f7c; /* Darker shade for hover effect */
}

.profile-pic{
    width: 40%;
    padding: 10px;
    box-sizing: border-box;
    padding-right: 0;
    margin-right: 0;
    bottom: 0; /* Stretch to the bottom of the viewport */
    flex-direction: column;
    align-items: center;
}

/* Add more styles as needed */
