body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: row;
    min-height: 100vh;
}
#left-column {
    width: 20%;
    background-color: #e0e0e0;
    margin-top: 70px; 
    padding: 20px;
}

#left-column .sort-section,
#left-column .filter-section {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
}

#left-column .sort-section h3,
#left-column .filter-section h3 {
    margin-top: 0;
}

#center-column {
    width: 25%;
    position: relative; 
    margin-top: 70px; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    height: calc(100vh - 70px);
    overflow-y: auto; 
}

.close-button {
    position: absolute; /* Position it absolutely within its relative parent */
    top: 0; /* Align to the top */
    right: 0; /* Align to the right */
    z-index: 10; /* Make sure it's above other elements */
}

.center_header {
    font-size: 18px;
    font-weight: bold;
    height: 60px;
    background-color: #959595;
    text-align: center;
    position: relative; /* Ensure this is relative to allow for content below */
    z-index: 101; /* Above the content but below the header */
}

#right-column {
    width: 60%;
    background-color: white;
    padding: 20px;
    margin-top: 70px;
    display: none; /* Initially hidden */
    overflow-y: auto;
    z-index: 10001;
    flex-direction: column;
}

.result-block {
    width: 100%; /* Full width of the container */
    background-color: #C4C4C4;
    padding: 10px; /* Add some padding inside the blocks */
    margin-bottom: 10px; /* Space between blocks */
    box-sizing: border-box; /* Include padding in the width */
}

.result-block h3, .result-block p {
    margin: 5px 0; /* Add some margin to the top and bottom */
    font-size: 14px; /* Adjust the font size as needed */
    color: black; /* Make sure the text is readable */
}

.result-block button {
    display: block; /* Make the button a block element */
    width: 100%; /* Full width of its container */
    margin-top: 10px; /* Add some space above the button */
}

.result-details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.big_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: #D2CACA;
    padding: 0 20px;
}

.logo {
    width: 50px;
    height: 50px;
    background-color: #C4BD91;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.results-container {
    overflow-y: auto; /* Allow scrolling within the results */
    padding: 10px; /* Add padding inside the container */
}

.center_footer {
    font-size: 18px;
    font-weight: bold;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    height: 40px;
    background-color: #959595;
    width: 100%;
    text-align: center;
}

#details-provider-pronoun {
    color: black;
    font-size: 10px;
    font-family: Avenir;
    font-weight: 200;
    text-transform: capitalize;
    word-wrap: break-word;
}


#details-provider-name {
    color: #666644;
    font-size: 25px;
    font-family: Avenir;
    font-weight: 800;
    text-transform: uppercase;
    word-wrap: break-word;
    margin-right: 10px;
}

#details-provider-location,
#details-provider-zip_code,
#details-provider-email,
#details-provider-phone_number,
#details-provider-speciality,
#details-provider-gender,
#details-provider-hospital,
#details-provider-languages,
#details-provider-education,
#details-provider-finances,
#details-provider-insurance,
#details-provider-qualifications {
    color: black;
    font-size: 10px;
    font-family: Avenir;
    word-wrap: break-word;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.bio{
    margin: 5px 0;
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.title-location,
.title-email,
.title-phone_number {
    color: black;
    font-size: 20px;
    font-family: Avenir;
    font-weight: 800;
    text-transform: uppercase;
    word-wrap: break-word;
    margin-bottom: 5px;
}

.subdivision {
    margin-bottom: 20px;
}

.about {
    color: black;
    font-size: 20px;
    font-family: Avenir;
    font-weight: 800;
    text-transform: uppercase;
    word-wrap: break-word;
    margin-bottom: 10px;
}

.about-text {
    color: black;
    font-size: 14px;
    font-family: Avenir;
    font-weight: 400;
    word-wrap: break-word;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 15px;
    row-gap: 40px;
}

.finances,
.insurance,
.qualifications {
    color: black;
    font-size: 20px;
    font-family: Avenir;
    font-weight: 800;
    text-transform: uppercase;
    word-wrap: break-word;
}

.profile-pic {
    flex: 1; /* Make the picture take 1/3 of the space */
    margin-right: 20px; /* Add some space between the picture and other content */
}

.buttons {
    flex: 1; /* Make buttons take 1/3 of the space */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Arrange the elements within the location and contact div */
.location-and-contact {
    display: flex;
    flex-direction: column;
    margin-right: 5%;
    width: 100%;
    align-items: flex-start;
}

.location, .email, .phone {
    margin-bottom: 10px; /* Adjust as needed for spacing between location and contact */
    margin-right: 10%;
}

/* Arrange the buttons in two rows */
.buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 15px;
    row-gap: 40px;
}

.buttons button {
    width: 100%; /* Make buttons full width */
    margin-bottom: 5px; /* Add some space between buttons */
    background: #C4BD91; 
    border-radius: 30px;
    border: none;
}

.contact{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 2;
}

/* Add more styles as needed */

