<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Client Profile</title>
</head>
<body>
    <h1>Client Profile</h1>
    <img src="{{ user.profile_picture if user.profile_picture else url_for('static', filename='uploads/default_profile_pic.webp') }}" alt="Profile Picture">
    <p><strong>Name:</strong> {{ client.name }}</p>
    <p><strong>Pronoun:</strong> {{ client.pronoun }}</p>
    <p><strong>City:</strong> {{ client.city }}</p>
    <p><strong>State:</strong> {{ client.state }}</p>
    <a href="{{ url_for('edit_profile') }}">Edit Information</a>
</body>
</html>
